<form action='/links' method='post'>
  Name: <input type='text' name='name'>
  Address: <input type='text' name='address'>
  Tag: <input type='text' name='tag'>
  <input type='submit' value='Add Link'>
</form>
